.heading{
    text-align: center;
}
.inp{
    display: flex;
    justify-content: center;
}
.but{
    background-color: green;
    height: 4vh;
    border-radius: 200px;
    cursor: pointer;
}
.result > p{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    height: 4vh;
    border: 4px solid green;
    border-radius: 100px;
    align-items: center;
    
}
.delete{
    background-color: red;
    color: white;
    border: 3px solid white;
    border-radius: 200px;
    margin-left: 20px;
    cursor: pointer;
}
